.BoardSquare {
  border: solid thin black;
  cursor: pointer;
  display: table-cell;
  padding: 1em;
  position: relative;
  width: 3vw;
}

.BoardSquare:hover, .BoardSquare:focus {
  background-color:lightslategrey !important;
}

.BoardSquare::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* This could be done a better way */
.BoardSquare--checked {
  background-color: goldenrod!important;
}

.BoardSquare--invalid:hover, .BoardSquare--invalid:focus {
  background-color: lightcoral !important;
}

.BoardSquare--valid:hover, .BoardSquare--invalid:focus {
  background-color: lightgreen !important;
}

/* Do not remove input from DOM. Leave in, but hide in an accessible way to keep it available for screen readers */
.BoardSquare__input {
  opacity: 0.01;
  position: absolute;
}